@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
}

/* .login-button {
  background: -webkit-linear-gradient(#eee, #333);
  border: none;
  color: -webkit-linear-gradient(#333, #eee);;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.3s, transform 0.3s;
} */
         
.login-button {
  background-image: linear-gradient(to right, #1D2B64 0%, #F8CDDA  51%, #1D2B64  100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 10px #eee;
  border-radius: 10px;
  display: block;
}

.login-button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}


.home-page {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.widgets {
  background-color: gray;
  margin-bottom: 50px;
}

.transactions {
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.single-transaction {
  background-color: green;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.box {
  border: 1px solid black; /* Border around each box */
  padding: 10px; /* Gap around each box */
}

.single-transaction :hover {
  background: rgb(0,36,9);
  background: linear-gradient(90deg, rgba(0,36,9,1) 0%, rgba(9,106,121,1) 33%, rgba(225,0,255,1) 100%);
}

.transaction-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  margin: 0;
  padding: 0;
}

.transaction-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.transaction-form .transaction-box {
  border: 1px solid red; /* Border around each box */
  padding: 10px; /* Gap around each box */
  flex: 1;
  width: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.transaction-form .transaction-box input{
  border-radius: 10px;
  flex: 0.6;
  width: 20vh;
  color: black;
  font-size: 18px;
}

.transaction-form button {
  margin-top: 1rem;
  border: 3px solid green;
  padding: 8px;
  border-radius: 10px;
  margin: 20px;
  width: 80%;
}



.transaction-page {
  height: 100%;
}

.transaction-page BottomNavBar{
  height: 100%;
}

.logo {
  font: Helvetica bold;
  font-size: 72px;
  /* background: -webkit-linear-gradient(#eee, #333); */
  background: -webkit-linear-gradient(315deg, #af8c9d 0%, #8cacac 74%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
