.bottom-nav {
    background-color: transparent;
    /* background-image: linear-gradient(315deg, #af8c9d 0%, #8cacac 74%); */
    background: -webkit-linear-gradient(315deg, #af8c9d 0%, #8cacac 74%);
    /* background: -webkit-linear-gradient(#eee, #333); */
    background-clip: text;
    font-style: Helvetica bold;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 20px;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .bottom-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .bottom-nav li {
    display: inline;
  }
  
  .bottom-nav a {
    color: #fff;
    text-decoration: none;
    padding: 15px;
    width: 100%;
    font-size: 16px;
  }
  